[Desktop Entry]
Name=EasyEffects
Exec=flatpak run com.github.wwmm.easyeffects --gapplication-service
Icon=com.github.wwmm.easyeffects
Type=Application
